<h1>LISTE DE COCKTAILS</h1>
<div class="addCocktail">
    <div class="inputLabel"> 
        Nom du cocktail <br>
        <input type="text" name="name" id="">
    </div>
    <div class="inputLabel"> 
        Description <br>
        <input type="text" name="description" id="">
    </div>
    <div class="inputLabel"> 
        Prix <br>
        <input type="number" name="price" id="">
    </div>
    <div class="inputLabel"> 
        Image <br>
        <input type="text" name="image" id="">
    </div>
    <button>Ajouter</button>
</div>

<div class="container">
    <div *ngFor = "let cocktail of cocktails">
        <div class="card">
            <img src="{{cocktail.img}}">
            <div class="description">
                <h3>{{cocktail.name}}</h3>
                <p>{{cocktail.description}} </p>
                <button>Commander : {{cocktail.price}}€</button>
            </div>
        </div>
    </div>
</div>

