.container{
    display: flex;
}

img{
    width: 30%;
}

.description{
    width: 50%;
    margin-left : 2rem;
    text-align: justify;
}

.card-text {
    font-size: .9rem;
}

h1 {
    font-size: 1.5rem;
}